*{
    margin: 0px;
    padding: 0px;
    box-sizing: boder-box;

}
.body-text{
    display: flex;
    font-family: "Montserrat" , sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: teal;
    font-family: "Montserrat" , sans-serif;
}
.nar-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nar-links li{
    list-style: none;
}
.heading{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nar-links a{
    color:white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}
.nar-links li a:hover:not(.active){
    background-color: lightseagreen;
}
.nar-links li a.active{
    background-color: #4caf50;
}